header {
    margin-top: 30px;
    color: #2299a9;
}

hr {
    border-width: 3px;
    border-color: #2299a9;
    margin: 30px 6px;
}

h1 {
    font-size: 18px;
    font-weight: bold;
}

.form-group>label {
    font-weight: bold;
}